.about {
  display: flex;
  color: var(--white);
  position: relative;
  z-index: -1;
  padding-top: 50px;
  border-bottom: solid 20px var(--yellow);
  border-bottom-left-radius: 40%;
  background-color: #333340;
}

.about_row {
  justify-content: center;
  align-items: center;
  position: relative;
}

.about-title {
  font-weight: 800;
  border-bottom: solid 5px;
  border-bottom-right-radius: 1050%;
}


/* Gallery */

.card {
  width: 80%;
  display: grid;
  margin-bottom: 175px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  overflow: visible;
  background-color: #333340;
}

.card .item {
  border-radius: 10px 10px 10px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item:hover {
  transform: scale(0.95);
  transition: all 0.3s;
}

.item--1 {
  background: #c7c7ff;
}

.about_img {
  width: 80%;
}

.item--2 {
  background: #ffd8be;
}

.item--3 {
  background: #a9ecbf;
}

.item--4 {
  background: #f3bbe1;
}


@media (max-width: 1028px) {
  .about {
    width: 90%;
    padding: 15px;
    border: none;
    border-radius: 0;
  }

  .about_row {
    justify-content: left;
  }

  .card {
    margin-bottom: 50px;
  }
}