.header {
    display: flex;
    position: relative;
    height: 100vh;
    overflow: hidden;
    /* EEEEEE */
}

.header-row {
    color: var(--black);
    justify-content: center;
    align-items: center;
    position: relative;
}

.header_col h1 {
    font-weight: 800;
}

.bg-cover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    background-image: url(./Circuit-Board.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    --animate-duration: 4s;
}

.wc {
    font-family: 'Roboto Mono', monospace;
}

.my-pic {
    width: 100%;
    object-fit: cover;
}

/* Button */

.buttonDownload {
    display: inline-block;
    position: relative;
    padding: 10px 25px;
    background-color: var(--black);
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
    text-indent: 15px;
    border: none;
    border-radius: 2em;
    font-weight: bold;
  }
  
  .buttonDownload:hover {
    background-color: var(--gold);
    color: var(--black);
  }
  
  .buttonDownload:before, .buttonDownload:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
  }
  
  .buttonDownload:before {
    width: 10px;
    height: 2px;
    border-style: solid;
    border-width: 0 2px 2px;
  }
  
  .buttonDownload:after {
    width: 0;
    height: 0;
    margin-left: 3px;
    margin-top: -7px;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;
    animation: downloadArrow 1s linear infinite;
    animation-play-state: paused;
  }
  
  .buttonDownload:hover:before {
    border-color: #000;
  }
  
  .buttonDownload:hover:after {
    border-top-color: #000;
    animation-play-state: running;
  }
  
  @keyframes downloadArrow {
    0% {
      margin-top: -7px;
      opacity: 1;
    }
  
    0.001% {
      margin-top: -15px;
      opacity: 0.4;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      margin-top: 0;
      opacity: 0.4;
    }
  }
  

/*end of Button */


@media (max-width: 1028px) {
    .header {
        margin-top: 50px;
    }

    .header_col h1 {
        font-size: 20px;
    }

    .header_col p {
        width: 90%;
        font-size: 11px;
    }

    .download-button {
        z-index: -1;
    }
}
