/* General Navbar Styles */
a {
  text-decoration: none;
}

.navbar-btn {
    z-index: 1;
    position: fixed;
    bottom: 90%;
    left: 20px;
    font-size: 1rem;
    border-radius: 100%;
    background: var(--black);
    color: #D8D8D8;
}

.nav_bar_links {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.nav_bar_links a {
  font-size: 1rem;
  color: var(--black);
  font-weight: 500;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
}

.btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.nav-btn:hover {
  color: var(--gold);
}

.offcanvascustom-width {
  width: 20% !important;
}

/* Display Picture */

.my-face {
  width: 100px;
  margin-left: 10%;
  background-color: #f0eccf;
  border-radius: 50%;
  border: 1px solid #f0eccf;
}

.my-bg {
  top: -160px;
  left: -50px;
  width: 250px;
  height: 250px;
  z-index: -1;
  border-radius: 50%;
  position: absolute;
  background-color: #ffb100;
}

/* Social Icon */

.social_icon {
  color: #333340;
}

.social_icon:hover {
  color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 5px;
  width: 25px;
  height: 25px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 15%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: var(--black);
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

/* Responsive Styles */

@media screen and (max-width: 1024px) {

  .offcanvascustom-width {
    width: 70% !important;
  }
}
