.home_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
  .home_wrapper {
    padding: 1em;
  }
}
