.experience {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.experience_row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 25px;
    background-color: rgb(251, 251, 251);
}

.job-title {
    font-size: 1.6rem;
    text-transform: capitalize;
}

.imfi-img {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
}

.job_type {
    font-size: 0.9rem;
    padding: 5px  50px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    background-color: #F0ECCF;
}

@media screen and (max-width: 768px) {
    .experience {
        gap: 25px;
    }

    .experience_row {
        padding: 15px;
        flex-direction: column;
    }

    .imfi-img {
        width: 50%;
    }

    .img_col {
        text-align: center;
    }
}
